## 1.

It finally worked

<img width="861" alt="Screen Shot 2021-07-24 at 3 03 44 PM" src="https://user-images.githubusercontent.com/79989694/126880211-b2a04b38-68ce-45b2-8808-d20f25d94017.png">

<img width="1440" alt="Screen Shot 2021-07-24 at 3 05 42 PM" src="https://user-images.githubusercontent.com/79989694/126880219-5879d24e-58e7-42bb-a642-19f98e0351ec.png">

## 2.

In [1]:
from flask import Flask, json, render_template, request
import os
import pandas as pd

In [2]:
app = Flask(__name__)

In [3]:
json_url = os.path.join(app.static_folder,"","us_gdp.json")
data_json = json.load(open(json_url))

In [4]:
new = data_json[1]
pd.DataFrame(new)

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,2020,20936600000000,,,0
1,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,2019,21433224697000,,,0
2,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,2018,20611860934000,,,0
3,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,2017,19542979183000,,,0
4,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,2016,18745075687000,,,0
...,...,...,...,...,...,...,...,...
56,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,1964,685800000000,,,0
57,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,1963,638600000000,,,0
58,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,1962,605100000000,,,0
59,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,1961,563300000000,,,0
60,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'US', 'value': 'United States'}",USA,1960,543300000000,,,0