In [72]:
#1
def newFunction(n=11111):
    n = str(n)
    newlist=[]
    new=""
    for i in n:
        newlist.append(i)
        newlist.sort(reverse=True)
        
    for i in newlist:
        new = new+i
    return new

print(newFunction(43905))

95430

In [74]:
#2
import pandas as pd
import numpy as np
import datetime as dt

# File to Load (Remember to Change These)
file_to_load = "JEOPARDY_CSV.csv"

# Read Purchasing File and store into Pandas data frame
jeopardy_df = pd.read_csv(file_to_load)

In [12]:
jeopardy_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [11]:
jeopardy_df.describe() #2a --> there're 216930 rows; a row represents a jeopardy questions and other relevant information

         Show Number
count  216930.000000
mean     4264.238519
std      1386.296335
min         1.000000
25%      3349.000000
50%      4490.000000
75%      5393.000000
max      6300.000000

In [40]:
#strip the year from the date segment. we can use rstrip
jeopardy_df.columns.str.rstrip().str.lstrip()

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [58]:
#cleaning the columns 
jeopardy_df.columns = jeopardy_df.columns.str.rstrip()
jeopardy_df.columns = jeopardy_df.columns.str.lstrip()

jeopardy_df.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer', 'Year'],
      dtype='object')

In [75]:
#jeopardy_df['Year'] = pd.DatetimeIndex(jeopardy_df['Air Date']).year --> the attempt to get the year which didn't work
jeopardy_df.head()

KeyError: 'Air Date'